<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Ticket Tracker</title>
</head>

<body>
    <section class="container">
        
        <h1>FULLSTACK Ticket Tracker</h1>
        
        <section class="jumbotron">
            <h3>Add New Ticket:</h3>
            <form id="issueInputForm" method="POST" action="/new">

                <div class="form-group">
                    <label for="customerName">Customers name</label>
                    <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Enter customers name here">
                </div>

                <div class="form-group">
                    <label for="customerPhone">Customers phone</label>
                    <input type="text" class="form-control" id="customerPhone" name="customerPhone" placeholder="Enter customers phone # here">
                </div>

                <div class="form-group">
                    <label for="customerEmail">Customers email</label>
                    <input type="text" class="form-control" id="customerEmail" name="customerEmail" placeholder="Enter customers email here">
                </div>

                <div class="form-group">
                    <label for="itemType">Item type</label>
                    <select class="form-control" id="itemType" name="itemType">
                        <option value="Shoes" selected>Shoes</option>
                        <option value="Boots">Boots</option>
                        <option value="Sneakers">Sneakers</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="brand">Item brand</label>
                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter item brand here">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Issue Description...">
                </div>

                <div class="form-group">
                    <label for="severity">Severity</label>
                    <select class="form-control" id="severity" name="severity">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High" selected>High</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input type="text" class="form-control" id="cost" name="cost" placeholder="Enter cost here">
                </div>

                <div class="form-group">
                    <label for="assignedTo">Assigned To</label>
                    <input type="text" class="form-control" id="assignedTo" name="assignedTo" placeholder="Enter Person Responsible...">
                </div>
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
        </section>

   <!--THis is where we're pulling the posts to display them on page-->

        <section class="row">
            <div class="col-lg-12">
                <div id="issuesList">
                    <!--This where JS was populated from local storage-->
                    <% ticketList.forEach(tickets => { %>
                        <div class="well">
                            <h6>Issue ID: <%=tickets._id%></h6>
                            <p><span class="label <%=tickets.status== 'Closed' ? 'label-success' : 'label-info'%>"><%=tickets.status%></span></p>
                            <h3><%=tickets.subject%></h3>
                            <p><%=tickets.description%></p>
                            <p><span class="glyphicon glyphicon-time"></span><%=tickets.severity%><span class="glyphicon glyphicon-user"></span><%=tickets.assignedTo%></p>
                            <a href="/edit/<%=tickets._id%>" class="btn btn-warning">Close</a>
                            <a href="/edit/remove/<%=tickets._id%>" class="btn btn-danger">Delete</a>
                            <a href="/update" class="btn btn-primary">Update</a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>

    </section>
</body>